/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Start: Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #333;
}
/* End: Global Styles */
